<div id="device-template" style="display: none">
    <div class="post-block">
        <h2 style="margin: 0">DEVICE_TITLE</h2>
        <p>DEVICE_PROPERTIES</p>
    </div>
</div>

<div id="list">
    <br/>
    <div class="spinner"></div>
</div>

<script type="text/javascript">

var template = $('#device-template').html(),
refreshFrequency = 60*1000; // every minute

$(document).ready( function() {
    setTimeout(sendRequest, 250);
});

function sendRequest() {
    jQuery.getJSON('/devices', onReturn);
}

function onReturn(r) {    
    var html = ['<p>' + r.count + ' devices found</p><br/><br/>'];
    var i, item, properties, key;
    
    for (i = 0; i < r.devices.length; i++) {
        item = r.devices[i];
        properties = [];
        for (key in item) {
            if (key != 'Title') {
                properties.push( '<br/><b>' + key + '</b> ' + item[key] );
            }
        }
        
        html.push( template.replace('DEVICE_TITLE', item.Title).replace('DEVICE_PROPERTIES', properties.join('')) );
    }
    
    $('#list').html( html.join('') );
    setTimeout(sendRequest, refreshFrequency);
}


</script>