<div id="device-template" style="display: none">
    <section id="UID" class="post-blockADDITIONAL_CLASS">
        <h2 data-uid="UID" style="margin: 0;">DEVICE_TITLE</h2>
        <div class="meta">
            DEVICE_PROPERTIES
        </div>
    </section>
</div>

<div id="list" class="device-list">
    <br/>
    <div class="spinner"></div>
</div>

<script type="text/javascript">

var template = $('#device-template').html(),
refreshFrequency = 60*1000; // every minute

$(document).ready( function() {
    setTimeout(sendRequest, 250);
});

function hashToArray(hash) {
    var array = [];
    for (key in hash) {
        array.push( {key:key, value:hash[key]});
    }
    
    return array.sort(function(a,b) { 
        if (a.key < b.key) return -1;
        if (a.key > b.key) return 1;
    } );
}

function sendRequest() {
    jQuery.getJSON('/inventory', onReturn);
}

function onListItemClick(e) {
    var uid = $(this).attr('data-uid').replace(/\s/g, '');
    var section = $('#'+uid);
    if (section.hasClass('expanded')) {
        section.removeClass('expanded');
    } else {
        section.addClass('expanded');
    }
}

function onReturn(r) {    
    var html = ['<p>' + r.count + ' out of ' + r.full_count + ' devices connected</p><br/><br/>'];
    var i, j, item, properties, obj;
    for (i = 0; i < r.devices.length; i++) {
        item = r.devices[i];
        meta = hashToArray( item.metadata );
        properties = [];
        for (j = 0; j < meta.length; j++) {
            obj = meta[j]
            if (obj.key != 'Title') {
                properties.push( '<label><b>' + obj.key + '</b> ' + obj.value + '</label>' );
            }
        }
        
        html.push( template.replace(/UID/g, 'ID'+item.serial.replace(/\s/g, ''))
            .replace('DEVICE_TITLE', item.name + (item.is_connected ? "" : " (Disconnected)") )
            .replace('DEVICE_PROPERTIES', properties.join(''))
            .replace('ADDITIONAL_CLASS', item.is_connected ? "" : " disabled") );
    }
    
    $('#list').html( html.join('') );
    setTimeout(function() {
        $('.device-list section h2').click( onListItemClick );
    }, 50);
    setTimeout(sendRequest, refreshFrequency);
}



</script>