<!DOCTYPE html>
<html>
<head>
    <title>Device Wall</title>
    <link type="text/css" href="http://phonegap.com/css/master.css?v=1.0.8" media="screen" rel="stylesheet" />
    <script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js?1339451940"></script>
    <script type="text/javascript" src="/javascripts/jquery.form.js?1339451940"></script>
</head>
<body>    
    <div id="wrap">
        
        <div class="clear-break"> </div>
        <div class="clear-break"> </div>
        <h1>Device Wall</h1>
        <%= yield %>        
        <div class="clear-break"> </div>
        <div class="clear-break"> </div>
    </div>
    
</body>
</html>